<h1>My Pets</h1>

<%= link_to "Add a New Pet", new_pet_path %>

<ul>
  <% @pets.each do |pet| %>
    <li>
      <%= link_to pet.name, pet_path(pet) %> –
      <%= pet.species == "Other" ? pet.other_species.presence : pet.species %> –
      <%= pet.age %> years old
      <%= button_to "Delete", pet_path(pet), method: :delete %>
    </li>
  <% end %>
</ul>
