<h1>Pet Profile</h1>


<div class="pet-profile-card">
  <p>
    <strong class="pet-info">Name:</strong>
    <%= @pet.name %>
  </p>

  <p>
    <strong class="pet-info">Species:</strong>
    <%= @pet.species == "Other" ? @pet.other_species.presence : @pet.species %>
  </p>

  <p>
    <strong class="pet-info">Age:</strong>
    <%= @pet.age %> years old
  </p>

  <div class="button-group">
    <%= link_to "Edit Pet Profile", edit_pet_path(@pet), class: "btn btn-flat-main" %>
  </div>
</div>
<div class="link-to-list-container">
  <%= link_to "â† Back to Pet List", pets_path, class: "link-to-list btn-back" %>
</div>
