<h2>Vets</h2>

<% @vets.each do |vet| %>
  <p>
    Name : <%= vet.first_name %> <%= vet.last_name %> |
    Specialty: <%= vet.specialty %> |
    Clinic: <%= vet.clinic_name %> |
    City: <%= vet.city %>
  </p>
  <%= link_to "Select this Vet",  vet_availabilities_path(vet), class: "btn btn-flat-second" %>
<% end %>
