<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvanqdtdy/image/upload/v1756473922/jamie-street-JtP_Dqtz6D8-unsplash_z2gg4d.jpg);">
  <div class="container">
    <h1>Pet Vet'</h1>
    <p>Your easiest & fastest way to book your vet’ appointment!</p>
    <div id="search-form" class="">
      <%= simple_form_for [@vet] do |f| %>
      <%= f.input :specialiy %>
      <%= f.input :city %>
      <%= f.submit "Search a Vet", class: "btn btn-flat" %>
      <%= end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
     <div class="intro col-12 col-lg-6 py-5 px-4">
      <img src="" alt="">
      </div>
    </div>
    <div class="intro col-12 col-lg-6 py-5 px-4">
      <h2>Are you a Vet?</h2>
      <p class="h2-header">Be visible on Pet Vet'!</p>
      <p>Make your appointment easy with our appointment app. Just create your vet page and share your schedule to let your patient book their appointments. </p>
     <div class="">
      <%= link_to "Log in", new_user_session_path, class: "btn btn-flat" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
</div>
